# Configuration file

~CONFIG_VERSION: rv3-beta-6

counters {
    I:lastGridStorage=1
    I:lastPlayer=0
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
}


orderedvalues {
    I:presses=3
}


players {
}


